* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #222;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.crud {
    width: 80%;
    margin: auto;
}

.header {
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
}

input {
    background-color: #111;
    color: #fff;
    margin: 10px 0;
    padding: 6px;
    outline: none;
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    transition: .4s;
    font-size: 18px;
}

input:focus {
    background-color: #000;
    scale: 1.1;
}

.price input {
    width: 20%;
    margin-right: 10px;
}

#total {
    background-color: #a00d02;
    padding: 5px 2px;
    border-radius: 4px;
    font-size: 18px;
}

#total::before {
    content: 'Total: ';
}

button {
    width: 100%;
    height: 40px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 50px;
    margin-top: 10px;
    color: white;
    background-color: #390053;
    transition: .4s;
}

button:hover {
    background-color: #51025f;
    letter-spacing: 1.5px;
}

#btn-search {
    display: flex;
    justify-content: space-between;
}

#btn-search button {
    width: 45%;
}

#search {
    display: none;
    transition: .3s;
}

#hr {
    width: 100%;
    height: 2px;
    background-color: #111;
    margin-top: 15px;
    border-radius: 50px;
}

table {
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

table tr th {
    text-transform: uppercase;
}

td,
th {
    padding: 5px;
}